@import url('animate.css');
@import url('bootstrap.css');
@import url('font-awesome.min.css');
@font-face {font-family: 'Adobe Caslon Bold'; src: url('../fontes/ACaslonPro-Bold.otf');}
@font-face {font-family: 'Adobe Caslon Bold Italic'; src: url('../fontes/ACaslonPro-BoldItalic.otf');}
@font-face {font-family: 'Adobe Caslon Bold Italic'; src: url('../fontes/ACaslonPro-Italic.otf');}
@font-face {font-family: 'Adobe Caslon Regular'; src: url('../fontes/ACaslonPro-Regular.otf');}
@font-face {font-family: 'Adobe Caslon Semibold'; src: url('../fontes/ACaslonPro-Semibold.otf');}
@font-face {font-family: 'Adobe Caslon Semibold Italic'; src: url('../fontes/ACaslonPro-SemiboldItalic.otf');}
@font-face {font-family: 'Raleway Extra Bold'; src: url('../fontes/Raleway-ExtraBold.ttf');}
@font-face {font-family: 'Raleway Bold'; src: url('../fontes/Raleway-Bold.ttf');}
img {
	max-width: 100%;
}
html,body {
    height: 100%;
}
p {
	font-family: 'Adobe Caslon Regular';
	font-size: 1.3em;
}
.centralizado {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.margin-bottom-2 {
	margin-bottom: 2em;
}
.margin-top-2 {
	margin-top: 2em;
}
/* banner control */
.carousel,.item,.active {height: 100%;}
.carousel-inner {height: 100%;}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* banner control */
.parallax{
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.carousel-caption h2 {
	font-family: 'Adobe Caslon Regular';
	font-size: 1.6em;
}
.carousel-caption h1 {
	font-family: 'Raleway Extra Bold';
	font-size: 1.6em;
}
.imagem-banner {
    float: none;
    margin: 0 auto;
    width: 80%;
}
.espaco {
	padding: 3% 0;
}
.titulo {
	color: #3b3d40;
	font-family: 'Raleway Extra Bold';
	font-size: 3em;
	text-align: center;
}
.subtitulo {
	color: #3b3d40;
	font-family: 'Adobe Caslon Regular';
	margin-top: 1.3em;
	text-align: center;
}
.espaco-ferramenta {
	padding: 3% 0 0;
}
.homem-terno {
    display: block;
    float: none;
    margin: 0 auto;
    width: 60%;
}
.fundo-roxo {
	background-color: #3a074e;
	padding: 5% 0;
}
.fundo-roxo-escuro {
	background-color: #1d001f;
	padding: 5% 0;
}
.preparei {
	color: #fff;
	font-family: 'Adobe Caslon Semibold';
	font-size: 2.1em;
}
.linha-roxa {
	background-color: #755283;
	height: 0.1em;
	width: 100%;
}
.tenha-acesso {
	color: #fff;
	font-family: 'Raleway Bold';
	font-size: 1.2em;
	margin-top: 1em;
	text-transform: uppercase;
}
.texto-slide {
    color: #3b3d40;
    font-family: 'Raleway Extra Bold';
    font-size: 2.6em;
    margin: 3em 0;
}
.carousel-control {
    font-size: 1.6em;
    top: 13em;
    width: 2%;
    bottom: 11em;
}
.dois-extremos {
	background-image: url('../imagens/bg-dois-extremos.jpg');
	padding: 8% 0;
}
.titulo-branco {
	color: #fff;
	font-family: 'Raleway Extra Bold';
	font-size: 3em;
	text-align: center;
}
.dois-extremos p {
	color: #fff;
}
.a-demanda {
	background-color: #d4d4d4;
	padding: 3% 0;
}
.a-demanda span {
	color: #48494b;
	font-family: 'Adobe Caslon Semibold';
	font-size: 2.1em;
}
.titulo-demanda {
    font-family: 'Raleway Extra Bold';
    font-size: 2em;
    left: 4%;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 92.1%;
}
.bg-cinza {
	background-color: #d4d4d4;
	padding: 3% 0;
}
.bg-cinza span {
	color: #48494b;
	font-family: 'Adobe Caslon Semibold';
	font-size: 2.1em;
}
.titulo-e-tem-mais {
    color: #48494b;
    font-family: 'Adobe Caslon Semibold';
    font-size: 2em;
    margin: 0.2em 0;
    text-align: left;
}
.faca-como {
	background-image: url('../imagens/bg-faca-como.jpg');
	padding: 6% 0;
}
.faca-como p {
    color: #fff;
    margin-top: 2em;
}
.contato {
	background-image: url('../imagens/bg-contato.jpg');
	padding: 6% 0;
}
.contato span {
    color: #fff;
    display: block;
    font-family: 'Raleway Extra Bold';
    font-size: 5em;
    margin: 0;
}
.contato p {
    color: #d5d1db;
    font-family: 'Adobe Caslon Semibold';
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}
.faca-sua-inscricao {
	background-color: #3a074e;
	border: none;
	border-radius: 1.8em;
	color: #fff;
    display: block;
    float: none;
    font-family: 'Raleway Bold';
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding: 1em;
    text-align: center;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    width: 23%;
}
.faca-sua-inscricao:hover {
	background-color: #fff;
	color: #3a074e;
}
footer {
	background-color: #3b3d40;
}
footer p {
	color: #868789;
	text-align: right;
}
.footer {
	background-color: #fff;
	padding: 1em 0;
}
.footer p {
	color: #3a074e;
    font-family: 'Adobe Caslon Semibold';
	text-align: center;
	margin: 0;
}
.scrollup{
    display: none;
    position: fixed;
    bottom: 8%;
    right: 1em;
    z-index: 12;
    cursor: pointer;
    transform: scale(0.8);
    transition: transform 1s;
}
.scrollup:hover{
    transform: scale(1);
}
.clear {
	clear: both;
}
@media screen and (max-width: 1024px){
	.carousel-caption {
	    padding-bottom: 160px;
	    left: 10%;
	    right: 10%;
	}
	.imagem-banner {
		width: 70%;
	}
	.homem-terno {
		width: 71%;
	}
	.tenha-acesso {
		font-size: 1.1em;
		text-align: center;
	}
	.subtitulo {
		font-size: 1.18em;
	}
	.texto-slide {
		margin: 1.8em 0;
	}
	.faca-como p {
	    font-size: 1.3em;
	    text-align: center;
	    white-space: nowrap;
	}
	.preparei {
		font-size: 2.04em;
	}
	#myCarousel2 img {
		width: 92%;
	}
	.carousel-caption {
		bottom: 25em;
		top: 15em;
	}
}
@media screen and (max-width:  768px){
	.texto-slide {
	    padding-bottom: 1em;
	    height: 10em;
	}
	.faca-sua-inscricao {
		width: 30%;
	}
}
@media screen and (max-width:  600px){
	.carousel-caption {
	    bottom: 0em;
	    top: 2em;
	    left: 0;
	    right: 0;
	}
	.carousel-caption h2 {
	    font-family: 'Adobe Caslon Regular';
	    font-size: 1.2em;
	    padding: 0 0.3em;
	}
	.carousel-caption h1 {
		font-size: 1.7em;
	}
	.carousel-control {
	    font-size: 1.6em;
	    top: 11.5em;
	    width: 4%;
	    bottom: 33em;
	}
	#myCarousel2 img {
		width: 100%;
	}
	.texto-slide {
	    padding-bottom: 1em;
	    height: 9em;
	    font-size: 1.8em;
	}
	.faca-como p {
		font-size: 1em;
		white-space: normal;
	}
	.faca-sua-inscricao {
	    width: 100%;
	}
	.logo-footer {
	    width: 70%;
	    float: none;
	    margin: 0 auto;
	    display: block;
	}
	footer p {
	    text-align: center;
	}
}
@media screen and (max-width:  480px){
	.carousel-caption {
	    bottom: 0em;
	    top: 0em;
	    left: 0;
	    right: 0;
	    padding-bottom: 0;
	}
	.carousel-caption h2 {
	    font-size: 0.9em;
	    padding: 0 0.3em;
	    margin-bottom: 0;
	}
	.carousel-caption h1 {
		font-size: 1.2em;
	}
	.subtitulo {
	    font-size: 0.9em;
	}
	.texto-slide {
	    height: 7em;
	    font-size: 1.5em;
	}
	.a-demanda span {
		font-size: 1.7em;
	}
	.contato span {
	    font-size: 3.5em;
	}
	.contato p {
		font-size: 1.4em;
	}
}
@media screen and (max-width:  320px){
	.carousel-caption {
		top: 6em;
	}
	.carousel-caption h2 {
		font-size: 1.1em;
	}
	.carousel-caption h1 {
		font-size: 1.4em;
	}
	.subtitulo {
	    font-size: 1.2em;
	}
	.carousel-control {
	    top: 5.5em;
	    width: 8%;
	    bottom: 14em;
	}
	.texto-slide {
	    height: 7em;
	    font-size: 1.2em;
	}
	.titulo {
		font-size: 2.9em;
	}
	.contato span {
	    font-size: 2.8em;
	}
}